@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.background {
  @apply bg-white dark:bg-[#191B1F] transition duration-300 ease-in-out;
}
